@import url('https://fonts.googleapis.com/css?family=Island Moments');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/* pour faire un reset sur les parametres par defaut d'un navigateur */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.body_main#main.active
{
 filter: blur(20px);
 /* pointer-events: none;  */
 user-select: none;
}


/* ------------------le style du body-------------- */
body{
    background-image: url("image/background-opacity.png");
    /* width: 100vw; */
   height: 100vh;
    background-size: cover; /*pour ajuster size du background*/
    /* background-repeat: repeat; */
    background-position: center; /*pour que l'image reste au centre*/
    background-attachment: fixed;
    overflow-x: hidden;
    margin: auto;   
}
    h1{
        color: #CD8332;
        font-size: xx-large;
        font-weight: bolder;
        text-align: center;
        font-family: "Jacques Francois", serif;
       
    }
    h3{
        color: #E9967A;
        font-size: x-large;
        font-weight: bold; 
        font-family: "Jacques Francois", serif; 
    }
    p{
        line-height: 1.6;
        font-family: "Jacques Francois", serif;
    }

/* ------------------le style du header section -------------- */
.group_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 120px;
    width: auto;
  }
  
  .navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
   
  }
  .navbar li a:hover{
    text-decoration: none;
    color: #E9967A;
    background-color: wheat;
    border-radius: 12px;
    
}
nav li:hover{
   transform: translateY(-10px);
   }
  
  .nav-links li:first-child {
    margin-left: 0;
  }
  
  .nav-links li a {
    font-family: "Jacques Francois", serif;
    color: #AF713D;
    font-size: x-large;
    font-weight: italic;
    text-decoration: none;
  }
  /* -----login style------------ */
  .login_popup {
    margin-right: 5%;
      }
  .login_popup_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
        background-color: #AF713D; 
        color: #fff; 
        text-decoration: none;
        cursor: pointer;
        border: none; 
        border-radius: 8px; 
        cursor: pointer;
    }
    .login_popup_btn:hover{
        color: #E9967A;
        background-color: antiquewhite;
        transform: translateY(-10px);
    }


.login_popup_wind { 
    display: none;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px); 
    justify-content: center; 
    align-items: center; 
    z-index: 9999; 
} 

.formPopup { 
    position: absolute; 
    top: 20%; 
    left: 40%;
    background: #fff; 
    padding: 24px; 
    border-radius: 12px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    width: 320px; 
    text-align: center; 
    
} 

.formContainer { 
    display: flex; 
    flex-direction: column; 
} 

label { 
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #444; 
    text-align: left; 
} 

input { 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 16px; 
    width: 100%; 
    
} 

.btn, 
.btn_cancel { 
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
   
} 

.btn { 
    background-color: #CD8332; 
    color: #fff; 
} 

.btn_cancel { 
    margin-top: 12px; 
    background-color: #e74c3c; 
    color: #fff; 
} 
/* --------search style----------- */

.fa-search{
    display: flex;

    width: 2.6rem;
    height: 2.5rem;
    background-color: #AF713D;
    transform: translateX(-60%);
    border-radius: 50%;
    border: none;
    color: #fff;
    align-content: center;
    
    /* align-items: center; */
    cursor: pointer;
    
}
/* -------search for newpage opened */
 .search{
    display: flex;
    justify-content: center;
}/*
.search-bar-container {
    display: inline-flex;
    justify-content: center;
}

.input{
 border-radius: 40px;
 width: 200%;
}
.fa-search_page{
    display: flex;

    width: 2.6rem;
    height: 2.5rem;
    background-color: #AF713D;
    transform: translateX(-60%);
    border-radius: 50%;
    border: none;
    color: #fff;
    align-content: center;
    
    /* align-items: center; */
    /* cursor: pointer;
  
}   */
.search-container {
    position: relative;
    width: 400px;
    height: 40px;
  }
  
  #search-input {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  #search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: #ccc;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .fa-search {
    color: #fff;
  }
.resultResearch{
    display: inline-flex;
    justify-content: center;
    background-color: #AF713D;
}
/* ------------------le style du hero section -------------- */
.hero_section{
    position: relative;  
    text-align: center;  
}
.titleTrend{
    text-align: center;
}
.hero_section img{
    width: 95%;
    height: 400px;
    border-radius: 5px;
}
.bloc_hero{
    margin-top: 20px;
    
}

.bloc_hero{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5%;
    margin: 3%;
    
}
#trend1{
    background-color: rgba(255,255,255, 0.6);
    border-radius: 16px;
    height: fit-content; 
    text-align: center;
}
#trend2{
    background-color: rgba(255,255,255, 0.6);
    border-radius: 16px;
    height: fit-content; 
    text-align: center;  
}
/* ------------------le style du about section -------------- */
.About_section{
   text-align: center;
   padding-bottom: 3%;
   
}
.bloc_about{
    margin: 5%;
    grid-template-columns: auto;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 16px;

   }

.img_about{
    
    float: inline-start;
    width: 20%;
    height: 100%;
    clip-path: circle(50%);
    z-index: unset ;
    
     
}
/* ------------------le style du cuisine section -------------- */
.Cuisine_section{
    width: fit-content;
}
.bloc_cuisine {
     display: grid;
    grid-auto-rows: auto-fill;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-columns: repeat(6, calc(50% - 40px));
    grid-template-rows: minmax(150px, 1fr); */
    column-gap: 1%;
    margin: 3%;
    text-align: justify;

 
}

.pastilla,
.tajine,
.couscous,
.new_post {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    height: 100%; 
    text-align: center;
}

.Cuisine_section img{
    width: 95%;
    height: 200px;
    border-radius: 5px;
}
/* ------------------le style du fashion section -------------- */
.bloc_fashion{
    display: grid;
    /* grid-template-columns: auto auto auto;  */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 1%;
    margin: 3%;
    text-align: justify;
}
.Caftan,
.Babouche,
.Jellaba,
.new_post
{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    height: 100%; 
    text-align: center;
}

.fashion_section img{
    width: 95%;
    height: 200px;
    border-radius: 5px;
}
 /* ------------------le style du artisanal section -------------- */   
.bloc_art{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 1%;
    margin: 3%;
    text-align: justify;
}

.Zelig, 
.pottery,
.debagh,
.new_post{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    height: 100%; 
    text-align: center;
}
.artisanal_section img{
    width: 95%;
    height: 200px;
    border-radius: 5px;
}
/* --------new post styling for posting time */
.new_post{
    display: flex;
    display: none;
    
}
.time_posted{
    display: flex;
    justify-content: space-around;
    color: #E9967A;
}

/* --------------footer section------------- */
footer{
    background-color: burlywood;
    opacity: 90%;   
}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .bloc_subcribe {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .container_down_footer {
   
    padding: 10px;
    flex: 50%;
  }
/* 

/* ------------------le style des boutons -------------- */
.subcribe{
    background-color: #E9967A;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: bold;
}
.subcribe:hover{
    color: #E9967A;
    background-color: antiquewhite;
}

.button_read{
    background-color: #E9967A;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.button_read:hover{
    color: #E9967A;
    background-color: antiquewhite;
}
/* --------------------Add post----------------------------- */
.add_post{
    display: flex;
    justify-content: center;
    background-color: none;
    border: none;


}
/* --------------Page read more story caftan --------*/
.page_trend1_caftan{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.container_page{
    display: flex;
    flex-direction: row;
}
.main_page_trend1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    
    width: 70%;
    float: left;
}
.main_page_trend1 img{
    width: 50%;
    height: 40%;  
    border-radius: 16px;
    margin-left: 25%;
}
#img_princess{
    width: 50%;
    height: 20%;
    float: right;
}

.comment{
padding:3%;
    
}

.fa-thumbs-up{
    width: 5rem;
    height: 3rem;
}
.apreciation{
    display: flex;
    flex-direction: column; 
}



/* pop up comment */
.comment_popup { 
    display: none;
    position: absolute; 
    top: 130%; 
    left: 0; 
    width: 100%; 
    height: 200%; 
    background: rgba(250, 250,250,0.5);
    background-size: cover;
    background-attachment: fixed;
    /* backdrop-filter: blur(10px);  */
    
    scroll-behavior: smooth;
    justify-content: center; 
    align-items: center; 
    z-index: 9999; 
} 
.com_btn{
    background-color: #E9967A;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px; 
}
.com_btn:hover{
    color: #E9967A;
    background-color: antiquewhite;
}

.comment_form { 
    position: absolute; 
    top: 40%; 
    left: 30%;
    background: #fff; 
    padding: 20px; 
    border-radius: 12px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    width: 600px; 
    text-align: center; 
    
} 


.myForm { 
    display: flex; 
    flex-direction: column; 
} 

label { 
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #444; 
    text-align: left; 
} 

input { 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 16px; 
    width: 100%; 
    
} 
textarea { 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 16px; 
    width: 100%; 
    
} 
.btn, 
.btn_cancel { 
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
   
} 

.btn { 
    background-color: #CD8332; 
    color: #fff; 
} 

.btn_cancel { 
    margin-top: 12px; 
    background-color: #e74c3c; 
    color: #fff; 
} 
/* ---------like icone--------- */
.fa-thumbs-up{
    align-content: center;
}
.appreciation_like .btn{
    display: flex;
    width:10%;
    height:70%;
    align-items: center;
}
.input_btn_appreciation{
    display: grid;
    grid-template-columns: auto auto;
    
}

/* comment display section */
.image_user{
    width: 65px;   
    display: grid;
    grid-template-columns: auto auto;
}
.image_user img 
{
    width: 65px;
	height: 65px;
	border-radius: 50%;
}
.user_data{
    display: grid;
    grid-row-gap:0;
    
   
}
.container_comment{
    display:grid;
    grid-template-rows: auto auto auto;
    margin-left: 1%;
    width: 50%;
    
    height: fit-content;
    border-radius: 16px; 
    margin-bottom: 20px;
    /* visibility: hidden; */
 }

.comment_details {
    display: flex;
    justify-content: space-between;
    
}


/* --------------------- add post------------------------- */
.add_popup { 
    display: none;
    z-index: 99999999999;
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: rgba(250, 250,250,0.5);
    background-size: cover;
    background-attachment: scroll;
    backdrop-filter: blur(10px); 
    scroll-behavior: smooth;
    justify-content: center; 
    align-items: center; 
    
    
} 
.com_btn{
    background-color: #E9967A;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px; 
}
.com_btn:hover{
    color: #E9967A;
    background-color: antiquewhite;
}

.add_form{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    position:fixed; 
    margin-top: 5%;
    /* top: 40%;  */
    left: 30%;
   
    background: rgba(255,255,255,0.8);
    text-align: center; 
    padding: 20px; 
    border-radius: 12px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    width:50%;
    overflow: hidden;
   
    
} 

/* 
.FormAdd{ 
    display: flex; 
    flex-direction: column; 
    
}  */

label { 
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #444; 
    text-align: left; 
} 

input { 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 16px; 
    width: 90%; 
    
} 
textarea { 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 16px; 
    width: 90%; 
    
} 
.btn, 
.btn_cancel { 
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
   
} 

.btn { 
    background-color: #CD8332; 
    color: #fff; 
} 

.btn_cancel { 
    margin-top: 12px; 
    background-color: #e74c3c; 
    color: #fff; 
} 



/* --------------------responsive menu burger */
/* ******************** NAV BAR ******************** */
.topnav {
    background-color: #333;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .topnav_link {
    color: white;
    padding: 12px;
    text-decoration: none;
  }
  .topnav_link:hover {
    color: #0078b4;
  }
  
  /* hide responsive menu */
  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    /* hide classic menu */
    .navbar {
      display: none;
    }
  
    /* position home link at left and hamburger at right */
    .nav-links ul li {
      flex-grow: 1;
    }
  
    /* disable horizontal scrolling  */
    .group_header {
      position: relative;
      overflow-x: hidden;
    }
  
    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
  
      z-index: 99;
  
      transform-origin: 0% 0%;
      transform: translate(200%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  
    #topnav_responsive_menu ul {
      display: flex;
      flex-direction: column;
  
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
  
      width: 100%;
      height: 100vh;
      padding: 56px 0 0;
  
      text-align: center;
  
      background: #E9967A;
      list-style-type: none;
      /* -webkit-font-smoothing: antialiased; */
    }
  
    #topnav_responsive_menu li {
      padding: 12px 24px;
    }
  
    #topnav_responsive_menu a {
      white-space: nowrap;
      color: #333;
      text-decoration: none;
    }
   
    /* And let's slide it in from the right */
    #topnav_responsive_menu.open {
      transform: none;
      position: fixed;
    }
  
    /* ******************** HAMBURGER ICON ******************** */
    /* define size and position of the hamburger link */
    #topnav_hamburger_icon {
      display: block;
      position: relative;
      margin: 16px;
      width: 33px;
      height: 28px;
  
      z-index: 100;
  
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #topnav_hamburger_icon span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      margin-bottom: 5px;
  
      background: #ededed;
      border-radius: 3px;
  
      z-index: 100;
  
      opacity: 1;
      left: 0;
  
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  
    /* set the 3 spans position to look like a hamburger */
    #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  
    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
      background: #333;
    }
  
    /* the first span rotates 45° \ */
    #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    /* the second span disappears */
    #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
    /* the last span rotates -45° / */
    #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }